include ../input-text/input-text.pug

mixin dropdown-little-block (leftLabel, rightLabel, classLabel, placeholder, classInput, name, name2, name3, visibility)
    +Input(leftLabel, rightLabel, classLabel, placeholder, classInput)
    .dropdown-little-block(class= visibility)
        .dropdown-little-block__top
            .items= name
            .minus -
            .result 2
            .plus +
        .dropdown-little-block__center
            .items= name2
            .minus -
            .result 2
            .plus +
        .dropdown-little-block__bottom
            .items= name3
            .minus.without-radius
            .result 0
            .plus +

mixin dropdown-long-block (leftLabel, rightLabel, classLabel, placeholder, classInput, name, name2, name3, visibility)
    +Input(leftLabel, rightLabel, classLabel, placeholder, classInput)
    .dropdown-little-block(class= visibility)
        .dropdown-long-block__top
            .items= name
            .minus.without-radius
            .result 2
            .plus +
        .dropdown-little-block__center
            .items= name2
            .minus.without-radius
            .result 2
            .plus +
        .dropdown-little-block__bottom
            .items= name3
            .minus.without-radius
            .result 0
            .plus +